<script setup>
import { ref, getCurrentInstance, reactive } from "vue";
import { example, exampleHeavy, exampleError } from '../plugins/worker/scripts/example.js'
const app = getCurrentInstance();
let { $worker } = app.appContext.config.globalProperties;

let msg = ref(0);
const state = reactive({
  value: 0,
})

defineProps({
  msg: String,
});
example()
$worker.setWorker(example)

async function click() {
  state.value = "posted to worker";
  try{
    let res = await $worker.oche('hello there[client]')
    console.log({res})
  }
  catch(err){
    console.log(`%c error`, `color:tomato;`, err)
  }
  // await $worker.post("hello");
}

const alsoClick = () => {
  state.value = "clicked2";
};
</script>

<template>
  <h1>hello world</h1>
  <button @click="click">click()</button>
  <button @click="alsoClick">alsoClick()</button>
  <p>{{ state }}</p>
</template>

<style scoped>
a {
  color: #42b983;
}
</style>
