<script setup>
import xyz from './components/xyz.vue';
// mounted(){
//    console.log({self:this}) 
// }
</script>

<template>
  <xyz msg="Hello Vue 3 + Vite" />
</template>

<style>
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: Comic Sans, Consolas, Arial, sans-serif;
  color: #2c3e50;
}

html,
body,
#app,
#app > main {
  min-height: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
